.logout {
  color: #5b9098;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar {
  border-bottom: 6px solid #b87e8a;
}

#contact {
  color: #5b9098;
}

#register {
  color: #5b9098;
}



@media only screen and (max-width:560px) {

.navbar-brand {
  width: 100vw;
}

.myLinks{
  font-size: 4vw;
}
#register{
  width: 100vw;
}
}