
.logout {
  color: #5b9098;
  padding-left: 24px !important;
} 

.navbar-brand img {
  height: 50px;
  width: auto;
  align-items: left;
}

#navbar-border {
  border-bottom: 6px solid #b87e8a;
}

#categories{
  color: #5b9098 !important;
}

#contact {
  color: #5b9098;
}

#register {
  color: #5b9098;
}
