body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Livvic', sans-serif;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 166px);
  font-family: 'Livvic', sans-serif;
}

.grid-container {
  display: flex !important;
  flex-direction: column;
  height: 100% !important;
  align-items: center !important;
  justify-content: space-between !important;
}

/* button {
  color: white;
  background-color: #AED1CD!important;
  border-color: #AED1CD !important;
  border-radius: 32px !important;
} */

#home-search {
  font-size: 30px;
  width: 40%;
  border-radius: 32px !important;
  align-items: center;
}

.bg-secondary {
  background-color: #4D898C!important;
  border-color: #4D898C !important;
}

a { 
  color: #4D898C;
}

/* h5 {
  text-align: center;
} */

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  letter-spacing: 1px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s; }

  .form__field::placeholder {
    color: grey;
  }

 .form__field:placeholder-shown  {
    font-size: 1.3rem;
    cursor: text;
    /* color: blue; */
    top: 20px;
  }

/* 
 .form__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__label:focus  {
    position: absolute;
    top: 10;
    display: none;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
    font-weight:700;    
  } */
.form__field:focus{
  padding-bottom: 6px;  
  font-weight: 700;
  color: #4D898C;
  border-width: 3px;
  border-image: linear-gradient(to right, #4D898C, #AED1CD);
  border-image-slice: 1;
} 
/* reset input */
/* .form__field:{
  &:required,&:invalid { box-shadow:none; }
} */
/* demo */
