
.Tagcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  letter-spacing: 8px;
  font-family: 'Livvic', sans-serif;
  font-weight: 900;
  line-height: 7vw;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.listName {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #4D898C;
  margin-bottom: 5px;;
}

.listTagline{
  color: #c5c7ce;
  font-style: italic;
  padding-left: 41px;

}

.xlText{
  font-size: .7em !important;
}

.discoverBody {
  position: relative;
  margin: 5px;
  margin-right: 28px;

}

.coverImg{
  width: 500px;
  height: auto;
  max-width: 100vw;
}

.titleContainer {
  margin: 0 auto !important;
  width: 60%;
  text-align: center;
}

.titleBox{
  margin: 0px 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.butts{
  text-transform: uppercase;
  padding: 3px;
}

.resultCard2:hover {
  font-weight: 700;
  color: #4D898C;
  border-width: 3px;
  border-image: linear-gradient(to right, #4D898C, #AED1CD);
  border-image-slice: 1;
  background-color: #f5f8f6;

}

.resultCard2 a:hover {
  text-decoration: none;
  color:#4D898C;
  font-size: 2.2rem;
}

.listName:hover {
  font-size: 1.6rem;
  font-weight: 500;
}


.idk {  
  display: inline-flex;
  padding-top: 10px;
}

.idk2{  
  display: inline-flex;
  font-size: 2rem;
  /* padding-bottom: 11px; */
  padding-right: 11px;
}

.resultCard2{
  border-bottom: 1px solid rgb(231, 227, 227);
  border-width: 80%;
  padding: 5px;
}

h5{
  font-size: 1.1rem;
}
   
.tagPicker button{
  background-color: #AED1CD!important;
  border-color: #AED1CD !important;
  border-radius: 32px !important;
  min-width: 100px !important;
  margin-bottom: 8px !important;
  margin-right: 8px;
}