/* OVERVIEW */
.home-container {
    text-align: center;
    width: 100%;
}

/* HEADER */
.search-container {
    background-color: #354959;
    padding: 80px;
}

.discover-local {
    text-align: center;
}

.header {
    color: #F8DACC;
    font-size: 90px;
    font-weight: bold;
    font-size:8vw;
}

#discover {
   letter-spacing: 7px;
   font-weight: bold;}

#lokal {
    font-weight: lighter;
    letter-spacing: 1px;
}

#raleigh { 
    color: #B87E8A;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 50px; 
    text-align: center;
}

#search {
    color: white;
}

/* EXPLANATION CONTAINER */
.welcome-container {
    padding: 100px;
    align-items: center;
    text-align: center;   
}

#house {
    width: 30%;
    height: 15%;
    align-items: left;
}

#explanation {
    color: #4D898C;
    font-size: 45px;
}

/* REGISTER BUSINESS CONTAINER */
.container-sign-up {
    background-color: #F8DACC;
    color: #354959;
    width: 100%;
    padding: 70px;
}

#registerbtn {
    background-color: #AED1CD!important;
    border-color: #AED1CD !important;
    border-radius: 32px !important;
    min-width: 100px !important;
    margin-bottom: 8px !important;
}

.container-sign-up {
    background-color: #F8DACC;
    color: #354959;
    width: 100vw;
    /* padding: 70px; */
    height: 10px;
  }

  #registerbiz {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 200;
    padding-bottom: 17px;
    text-align: center;
  }

#registerbtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
