/* OVERVIEW */
.home-container {
    text-align: center;
    width: 100%;
}

/* HEADER */
.search-container {
    background-color: #354959;
    padding: 60px;
    width: 100vw;
}

.discover-local {
    text-align: center;
}

.header {
    color: #F8DACC;
    font-size: 90px;
    font-weight: bold;
    font-size: 5.5rem;
}

#discover {
   letter-spacing: 7px;
   font-weight: bold;
}

#lokal {
    font-weight: lighter;
    letter-spacing: 1px;
}

#raleigh { 
    color: #B87E8A;
    font-style: italic;
    text-align: center;
    padding-bottom: 38px;
    font-size:2rem;
}

#search {
    color: white;
}

/* EXPLANATION CONTAINER */
.welcome-container {
    padding: 90px 150px;
    /* width: 87%; */
    /* align-items: left; */
    width: 100%;
}

#house {
    width: 15vw;
    height: 15vw;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

#explanation {
    font-weight: 200;
    color: grey;
    font-size: 1.6rem;
    text-align: center;
    /* margin-right: 80px; */
}

#bold{
    font-weight: 600;
    color: #354959;
    font-size: 2.5rem;
    text-align: center !important;
    /* margin-right: 80px; */
    padding-bottom: 30px;
}

/* Makers CONTAINER */
.makers-container {
    background-color: #dfd3cd;
    padding: 90px ;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
}

.aside-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.aside-container .aside{
    padding: 20px;
    text-align: center;
    font-weight: 200;
    color: grey;
    font-size: 1.6rem;
}

/* REGISTER BUSINESS CONTAINER */
#registerbtn {
    background-color: #4D898C!important;
    border-color: #4D898C!important;
    border-radius: 32px !important;
    min-width: 100px !important;
    margin-bottom: 8px !important;
}

.container-sign-up {
    color: #354959;
    width: 100vw;
    padding-bottom: 80px;
    /* height: 10px; */
  }

  #registerbiz {
    color: #354959;
    padding-top: 65px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 30px;
    font-size: 3rem;
}

.registerbtn {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 0px 13px;
    letter-spacing: 2px;
}

/* ********MOBILE RESPONSIVE******* */
/* *********************************/

@media only screen and (max-width:760px) {
    body {
      margin: 0 !important
    }

    .header {
      font-size: 9.5vw;
    }

    .search-container {
        padding: 60px 10px;
    }

    .welcome-container {
        padding: 60px 10px;
    }

    #house{
        display: none;
    }

    .aside-container {
        display: grid;
        grid-template-columns: auto;
    }

    .makers-container {
        padding: 29px;
    }
}


/* EXPLANATION CONTAINER */
/* .welcome-container {
    padding: 100px;
    align-items: center;
    text-align: center;   
}


#explanation {
    color: #4D898C;
    font-size:2vw;
}

#registerbiz {
    color: #354959;
    text-align: center;
    font-weight: bold;
    font-size: 10vw;
}

.container-sign-up {
    background-color: #F8DACC;
    text-align: center !important;
    color: #354959;
    width: 100vw;
} */




