img {
    width: 100%;
}

 /* .container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
} */

.box {
    background-color: aqua;
} 

.aside {
    width: 100px;
}

.mainSection{
    width: 600px;
}