#getintouch {
    text-align: center !important;
    color: #354959;
    padding-top: 40px; 
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 4px;
    line-height: 1.2em;
    color: #354959;
    text-transform: uppercase;
}

#contact-button {
    color: white;
    background-color: #AED1CD!important;
    border-color: #AED1CD !important;
    border-radius: 32px !important;
    min-width: 100px !important;
    margin-bottom: 8px !important;
}

.main-container {
    padding:30px;
}

#getintouch {
    padding-bottom: 50px;
}

#contact-button {
    padding: 20px;
    border: none;
}

