#getintouch {
    text-align: center !important;
    color: #354959;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 4px;
    line-height: 1.2em;
    color: #354959;
    text-transform: uppercase;
    padding-top: 20px;
}

.uibutton {
    color: white;
    background-color: #AED1CD!important;
    border: none;
    border-radius: 32px !important;
    min-width: 100px !important;
    margin-bottom: 8px !important;
    padding: 10px;
}

.main-container {
    padding:0px;
}

#getintouch {
    padding-bottom: 20px;
}


/*  MOBILE ONLY */
@media only screen and (max-width: 660px) {
    #getintouch {
        font-size: 2rem;
        line-height: 1.2em;
        padding-top: 10px;
    }
}

