.userPageContainer{
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 40px;
}

.userPageContainer a {
    color: #4D898C;
}

.hello {
    font-size: 3em;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 30px;
    color: #4D898C;
    text-align: center;
    line-height: 3.9rem;
}


.cardHead{
    font-size: 1.4rem !important;
    color: #4D898C !important;
    font-weight: 700;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* .card {
    max-width: 600px !important;
    width: 100%;
} */

.cardStyles {
    max-width: 600px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

.centerText{
    text-align: center;
    margin-bottom: 25px;
}
